<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="catalogos">

    <select id="obtenerEstados" resultType="pojo.Estado">
        SELECT id AS idEstado, nombre 
        FROM estados 
        ORDER BY nombre ASC
    </select>

    <select id="obtenerMunicipiosPorEstado" resultType="pojo.Municipio">
        SELECT id AS idMunicipio, nombre, estado AS idEstado
        FROM municipios 
        WHERE estado = #{idEstado}
        ORDER BY nombre ASC
    </select>

    <select id="obtenerCPsPorMunicipio" resultType="string">
        SELECT DISTINCT codigo_postal 
        FROM colonias 
        WHERE municipio = #{idMunicipio}
        ORDER BY codigo_postal ASC
    </select>

    <select id="obtenerColoniasPorCP" resultType="pojo.Colonia">
        SELECT 
            id AS idColonia,
            nombre,
            codigo_postal AS codigoPostal
        FROM colonias
        WHERE codigo_postal = #{codigoPostal}
        ORDER BY nombre ASC
    </select>
    <select id="obtenerEstatusEnvio" resultType="pojo.EstatusEnvio">
        SELECT id, nombre FROM tbl_estatus_envio ORDER BY id ASC
    </select>
</mapper>