<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="desarrollo">     
        <environment id="desarrollo">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="${db.url}"/>   
                <property name="username" value="${db.username}"/>    
                <property name="password" value="${db.password}"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="modelo/mybatis/mapper/AutenticacionMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/SucursalMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/UnidadMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/ColaboradorMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/ClienteMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/CatalogoMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/EnvioMapper.xml"/>
        <mapper resource="modelo/mybatis/mapper/PaqueteMapper.xml"/>
    </mappers>

</configuration>